#customButton{
    color: #9088f8;
    border: 1px solid #9088f8; 
    padding: 0.2em 0.4em 0.1em; 
    display: inline; 
    font-size: 75%; 
    font-weight: 700; 
    line-height: 1; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: baseline; 
    border-radius: 0.25em; 
    text-decoration: none;
}

#customButton:hover{
    background-color: #9088f8;
    color:aliceblue;
    text-decoration: none;
}

#customButton.clicked {
    background-color: #9088f8;
    color:aliceblue;
    text-decoration: none;
}